* {
    box-sizing: border-box;
}

.content {
    padding: 61px 46px 50px 49px;
    margin: 5px 10px;
    width: 300px;
    border: 1px solid #000;
}

.wrap {
    width: 205px;
    text-align: center;
}

.title {
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 400;
}

.price {
    margin-bottom: 45px;
    display: inline-block;
    color: #5ba2a9;
    font-size: 48px;
}

.currency {
    font-size: 18px;
}

